.inner-list {
  display: flex;
  justify-content: space-between;
  &-container {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  h4 {
    margin: 0.5rem 0;
  }
  p {
    margin: 0.5rem 0;
  }
}