.comment-container {
    display: flex;
    flex-direction: column;
    &-item {
        width: 100%;
        &-info {
            width: 75%;
            &>p{
                padding: 5px 0;
                margin: 0;
            }
        }
        display: flex;
        justify-content: start;
        &-avatar {
            margin: 5px 10px;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: grey;
        }
    }
    input {
        padding: 5px;
        width: 400px;
        border: 1px solid lightgrey;
        border-radius: 5px;
    }
}