@import '../../variables';

.check-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10vh auto;
  width: 50%;
  h1 {
  font-size: 40px;
    text-align: center;
  }
  .check-form {
    display: flex;

    width: 75%;
    margin-top: 2vh;
    text-align: center;
    input, a {
      outline: none;
      border-radius: 5px;
      padding: 0 10px;
    }
    .check-input {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      font-size: 16px;
    }
    a {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      width: 150px;
      background-color: $main-blue;
      border: 1px solid $main-blue;
      color: $bg-color;
      font-size: 16px;
    }
    .check-button:hover {
      background-color: cornflowerblue;
      border: 1px solid cornflowerblue;
    }
  }
  p {
    margin-top: 5vh;
    font-weight: bolder;
    color: $main-blue;
  }
  .error-list {
    max-width: 100%;
    background-color: lightcoral;
    font-size: 16px;
    margin-top: 2px;
    border-radius: 5px;
    padding: 1vh;
    color: darkred;
    .error-alert {
      text-decoration: none;
      font-weight: bold;
      color: darkred;
    }
  }
}

