@import '../../variables.scss';
.list-container {
  padding: 0;
  margin: 0;
}

.issue-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 0 125px 0;
  .title-container {
    margin: 80px 0 25px 0;
  }
  .list-item {
    display: flex;
    align-items: center;
    list-style: none;
    background: #fff;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px lightgray;
    max-width: 1490px;
    color: $sub-gray;
    font-size: 18px;
    height: 75px;
    z-index: 80;
    .list-item_id {
      width: 85px;
      font-size: 22px;
      margin: 0;
      text-align: center;
    }
    .list-item_type {
      padding: 0 20px;
    }

    .list-item_impact-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 10px;
      width: 150px;
      margin: 0 0 0 150px;
      .list-item_dot {
        min-height: 17px;
        min-width: 17px;
        background: gray;
        border-radius: 50%;
        display: flex;
      }
    }
    .list-item_details-container {
      margin: 0 30px 0 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 135px;
      .list-item_details-text {
        &:hover {
          cursor: pointer;
        }
      }
      .list-item_details-arrow {
        font-size: 19px;
        color: gray;
      }
    }
  }
}
