.signup-section {
  background: #fff;
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-evenly;
  align-items: center;
  .title-container {
    margin: 0;
    width: 455px;
    align-items: flex-start;
    .title {
      font-weight: 400;
      font-size: 40px;
    }
    .sub-title {
      font-size: 23px;
    }
  }
  .btn-blue {
    width: 345px;
    height: 80px;
    text-transform: capitalize;
    font-size: 20px;
  }
}
