@import './variables.scss';

body {
  margin: 0;
  background: $bg-color;
  font-family: 'Open Sans', sans-serif;
}
#header {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px lightgray;
  background: #fff;
  .logo {
    width: 150px;
    margin: 0 30px;
    font-size: 14px;
  }
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  .nav-link {
    color: $sub-gray;
    text-decoration: none;
    margin: 14px;
    font-weight: 600;
    &:hover {
      transform: scale(1.3, 1.3);
    }
  }
  .active {
    color: $main-blue;
  }
}
.buttons-container {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  margin: 0 40px;
  .btn {
    border-radius: 5px  ;
    width: 130px;
    height: 40px;
    font-size: 16px;
  }
}
