.container {
	width: 80%;
	margin: 10px 8%;
}

.titleListing .title-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0;
	height: 55px;
	background-color: #f9fbfc;
	border-bottom: 1px solid #d2d2d2;
	.title {
		margin-top: 20px;
		font-size: 19px;
		font-weight: 600;
	}
	.sub-title {
		font-size: 16px;
		margin-left: 23px;
		margin-top: 20px;
	}
}