.container {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.titleListing .title-container {
	height: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0;
	height: 90px;
	.title {
		margin-top: 20px;
		font-size: 20px;
		font-weight: 400;
	}
	.sub-title {
		font-size: 15px;
		margin-left: 20px;
		margin-top: 20px;
	}
}