.pdf-wrapper {
  .title-container {
    margin-bottom: 15px;
  }

  .issues {
    .title-container {
      margin-top: 0;
    }
  }

  .report {
    width: 60%;
    margin: 250px auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .issues-amount {
      display: flex;
    }

    .pageBreak {
      height: 0px;
    }

  }
}

@media print {
  .report {

    .progress-bar-wrapper {
      width: 100%
    }
  }
}