td>span, .table-cell {
    margin: 0 auto;
    text-align: center;
}

.table-name{
    text-align: left;
    padding: 0 10px;
}

input[type='checkbox'] {
    width: 15px;
    height: 15px;
}

td>select {
    float: left;
}