.label {
  font-size: 12px;
  color: #036FC2;
  font-weight: bold;

  .input {
    border: #bdc5cb 1px solid;
    margin-top: 5px;
    margin-bottom: 12px;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;

    &::placeholder {
      height: auto;
      padding-top: 0;
      color: #bdc5cb;
    }
  }
}