#root {
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

    .popup-inner {
      position: absolute;
      left: 20%;
      right: 20%;
      top: 20%;
      bottom: 20%;
      margin: auto;
      border-radius: 5px;
      background: white;
      padding-left: 30px;
      padding-right: 30px;

      .close {
        position: absolute;
        right: 5px;
        top: 10px;
        width: 32px;
        height: 32px;
        opacity: 0.5;
      }
      .close:hover {
        opacity: 1;
      }
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 18px;
        width: 1.5px;
        background-color: #536370;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }

      .title-container {
        align-items: flex-start;
        margin: 0;

        .title {
          margin-top: 30px;
          font-size: 15px;
        }
      }
    }
  }
}