.sidebar-main-wrapper {
  display: flex;

  .sidebar {
    background-color: #ffffff;
    font-size: 16px;
    padding: 20px 0px;
    margin-top: 3px;
    width: 280px;
    .project-name {
      font-weight: bold;
      font-size: 20px;
      margin: 7px 18px;
      padding-left: 0px;
    }
    .navigation {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        text-decoration: none;
        color: #9dafbd;
        padding: 15px 0 15px 20px;
        width: 215px;
        &:hover {
          background-color: #ecf1f3;
          color: #026fc2;
          font-weight: bold;
        }
      }
    }
  }

  .router-content {
    width: 100%;

    #project-list-return {
      display: block;
      margin: 20px;
      padding-bottom: 10px;
      border-bottom: solid 1px #d2d2d2;
      text-decoration: none;
      color: #026fc2;
      font-size: 18px;
    }
  }
}
span.returnArrow{
  font-size: 25px;
}
@media print {
  .sidebar-main-wrapper {
    .sidebar {
      visibility: hidden;
      width: 0;
    }

    #project-list-return {
      display: none;
    }
  }
}