.sidebar-main-wrapper {
  display: flex;

  .sidebar {
    background-color: #ffffff;
    font-size: 14px;
    padding: 20px 20px;
    margin: 5px 20px 5px 0;

    .project-name {
      font-weight: bold;
      font-size: 16px;
      margin: 7px 0;
      padding-left: 30px;
    }
    .navigation {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      a {
        text-decoration: none;
        color: #9dafbd;
        padding: 8px 0 8px 30px;
        width: 200px;
        &:hover {
          background-color: #ecf1f3;
          color: #026fc2;
          font-weight: bold;
        }
      }
    }
  }

  .router-content {
    width: 100%;

    #project-list-return {;
      display: block;
      margin: 20px;
      border-bottom: solid 1px #cee2f1;
      text-decoration: none;
      color: #026fc2;
      font-weight: bold;
    }
  }
}

@media print {
  .sidebar-main-wrapper {
    .sidebar {
      visibility: hidden;
      width: 0;
    }

    #project-list-return {
      display: none;
    }
  }
}