.filterButtons {
	display: flex;
	justify-content: space-between;


	button {
		padding: 5px 0;
		width: 90px;
		margin-right: 10px;
		border: none;
		border-radius: 5px;
		background-color: #d2d2d2;
		font-size: 14px;
	}
	button:hover {
		background-color: #006fc4;
		color: #ffffff;
	}
	button:focus {
		background-color: #006fc4;
		color: #ffffff;
		outline: none;
	}
}