.paginationItem,
.previous,
.next {
	display: inline;
}

.previous,
.next {
	font-size: 30px;
	font-weight: 600;
	color: #0070c3;
	a:hover {
		text-decoration: none;
	}
}

.paginationContainer {
	display: flex;
	justify-content: center;
	height: 80px;
}

.paginationItem {
	border-radius: 50%;
	background-color: #eef2f3;
	width: 40px;
	height: 40px;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	a {
		color: #43474f;
		position: absolute;
		top: 7px;
		right: 15px;
		cursor: pointer;
	}
	a:hover {
		text-decoration: none;
	}
}

.paginationItem.selected {
	border-radius: 50%;
	background-color: #006fc4;
	width: 40px;
	height: 40px;
	a {
		color: #ffff;
		cursor: pointer;
	}
	a:hover {
		text-decoration: none;
	}
}