.sortForm {
	margin: 0 px;
	
}

.selectValue {
	font-size: 14px;
border-color: #e3e3e3;
border-radius: 5%;
	color:#9eb1be;
	background-color: #f6f6f6;
	padding-left: 10px;
	width: 150px;
	height: 40px;
}